@import "tailwindcss";

@theme {
  --color-mediterranean: #005b96;
  --color-mediterranean-light: #3385b0;
  --color-mediterranean-dark: #003f6b;
  
  --color-sand: #ffe497; 
  --color-sand-light: #fffdf8; 
  --color-sand-dark: #d9b85c;  
}

body {
  background-color: #ffffff; /* Tüm site arka planı artık temiz beyaz */
  color: #1f2937;
}